.table-container {
  width: 100%;
  margin: 16px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.add-user-container {
  display: flex;
  justify-content: end;
  margin: 16px;
}